SELECT id, name, is_current, coach_assigned, assigned_to_client, user_id FROM programs WHERE assigned_to_client = '07725a2d-70a9-490f-8fcb-db8b181e4d14' AND coach_assigned = true ORDER BY created_at DESC;
