SELECT user_id, program_id, week_index, day_index, COUNT(*) as count FROM workout_logs WHERE program_id IS NOT NULL GROUP BY user_id, program_id, week_index, day_index HAVING COUNT(*) > 1 ORDER BY count DESC LIMIT 10;
