.exercises-container {
  padding: 0 1.5rem;
}

.exercises-card {
  border-radius: 20px;
  padding: 2rem;
  background-color: var(--card-background);
  box-shadow: var(--card-shadow);
}

.exercises-title {
  color: var(--text-primary);
  font-weight: 600;
  margin-bottom: 2rem;
}

.exercises-form-group {
  margin-bottom: 1.5rem;
}

.exercises-label {
  color: var(--text-secondary);
}

.exercises-input {
  border-radius: 10px;
  border: 1px solid var(--border-color);
  background-color: var(--input-background);
  color: var(--text-primary);
  height: 38px;
  padding: 6px 12px;
  line-height: 1.5;
  font-size: 1rem;
}

.exercises-input:focus {
  outline: none;
  border-color: var(--border-color);
  box-shadow: var(--card-shadow);
}

.exercises-button {
  border-radius: 10px;
  padding: 10px 20px;
  font-weight: 500;
}

.exercises-accordion-item {
  border-radius: 15px;
  margin-bottom: 10px;
  background-color: var(--card-background);
  border-color: var(--border-color);
}

.exercises-list-group-item {
  border-radius: 10px;
  margin-bottom: 0.5rem;
  background-color: var(--card-background);
  border-color: var(--border-color);
  color: var(--text-primary);
}

.exercises-edit-button {
  margin-bottom: 0px !important;
  padding: 0 .25rem !important;
  border: 0 !important;
}